header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    top: 0;
    margin-top: 0;
    position: fixed;
    z-index: 5;
    background-color: #0B3C5D ;
    left: 0;
    max-width: 100vw;
}

.azurelogo-and-name-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.azure-logo{
    width: 5rem;
    height: 5rem;
    overflow: hidden;
} 
.azure-logo img{
    width: 100%;
    height: 100%;
    transition: all 2s ease-in-out;
}
.azure-logo img:hover{
    transform: scale(1.5);
}

.azure-name{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 0.2rem;

}
.azure-name h1{
    height: 0.7rem;
    font-size: 1rem;
    top: 0;
    color: white;
    font-family: "Playfair Display", serif;
}
.azure-name h2{
     height: 1rem;
    font-size: 1.6rem;
    top: 0;
    color: white;
    font-family: "Playfair Display", serif;
    letter-spacing: 0.7rem;
}
.azurelinksandbutton button{
    background-color: transparent;
    border-color: transparent;
    color: white;
   margin-right: 2rem;
}
.azure-links{
    display: none;
    text-decoration: none;
}
.azure-links a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0.3rem;
}
.azure-links a:hover{
    background-color: #0b3c5d88 ;
}
.azure-links a:focus{
    background-color: #0b3c5d88 ;
}
.azure-links.show{
 flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 10;
    display: flex;
    width: 50%;
    left: 0;
    height: auto;
    gap: 0.7rem;
    /*background-color: rgb(195, 235, 231);*/
    position: absolute;
    top: 0;
    margin-top: 5.005rem;
    border: 2px solid  #0B3C5D ;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('azure pictures/link image.webp');
}
.hero{
    width: 100%;
    position: relative;
    height: 50vh;
    overflow: hidden;
    margin-top: 5rem;
}
.hero img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
}
.hero-content{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.269);
}
.hero-content h1{
     font-size: 2rem;
    color: white;
    /*font-family: "Playfair Display", serif;*/
    font-style: italic;
font-family: 'Roboto Slab', serif;
}
.hero-content p{
      font-size: 1rem;
    color: white;
    /*font-family: "Playfair Display", serif;*/
    font-style: italic;
font-family: 'Roboto Slab', serif;
}
.hero-content a{
      background-color: transparent;
    color: white;
    border: 2px solid white;
    text-decoration: none;
    width: 7rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
     font-family: "Playfair Display", serif;
}
.hero-content a:hover{
    background-color: #0B3C5D;

}
.rooms-explanation p{
 font-family: 'Raleway', sans-serif;
}
::selection{
    background-color: #0B3C5D;
    color: white;
}
.rooms-container{
    display: block;
    width: 100%;
    margin-top: 4rem;
}
.roomhead{
    display: block;
}
.roomhead h1{
    font-style: italic;
font-family: 'Roboto Slab', serif;
font-size: 1.7rem;
color:  #0B3C5D;
}
.roomhead h2{
    color:  #0B3C5D;
 font-family: 'Raleway', sans-serif;
 font-size: 1.1rem;
}
.roomhead hr{
   border-color: chocolate;
}
.rooms{
    display: block;
    width: 100%;
    height: auto;
}
.room{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}
.imageof-room{
    width: 100%;
    height: 20rem;
    position: relative;
}
.imageof-room img{
    width: 100%;
}
.room-description{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    padding-top: 4rem;
     background-color: rgba(173, 216, 230, 0.098);
     padding-bottom: 2rem;
}
.description {
    display: block;  
}
.description h2{
    color:  #0B3C5D;
 font-family: 'Raleway', sans-serif;
 font-size: 1.1rem;
}
.description  p{
    font-family: 'Raleway', sans-serif;
}
.description-links{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-top: 0.1rem;
}
.description-links a{
     background-color: white;
    color: #0B3C5D;
    border: 1.5px solid #0B3C5D;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    padding: 0.5rem;
    transition: all 0.8s ease-in-out;
}
.description-links a:hover{
    background-color: #0B3C5D;
    color: white;
}
.lasttext{
    width: 100%;
    height: 15rem;
    overflow: hidden;
    position: relative;
}
.lasttext img{
    width: 100%;
    height: 100%;
    z-index: -4;
    position: absolute;
    flex-shrink: 0;
}
.lasttext-content{
    width: 100%;
    height: 100%;
    z-index: 2;
     background-color: rgba(173, 216, 230, 0.411);
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
.lasttext-content h1{
    font-style: italic;
font-family: 'Roboto Slab', serif;
font-size: 1.7rem;
color:  white;
}


.lasttext-content p{
    font-style: italic;
font-family: 'Roboto Slab', serif;
font-size: 1rem;
color:  white;
}
.lasttext-content a{
    text-align: center;
background-color: transparent;
    color: white;
    border: 1.5px solid #0B3C5D;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    padding: 0.5rem;
    transition: all 0.8s ease-in-out;
}
.lasttext-content a:hover{
    background-color: #0B3C5D;
    color: white;
}
footer{
    background-color: #0B3C5D;
    overflow-x: hidden;
}
.footer-context{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 0.85rem;
}
.logo-footer{
    width: 100%;
    height: 15rem;
    overflow: hidden;
}
.logo-footer img{
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
}
.logo-footer img:hover{
    transform: scale(1.2);
}
.quicl-linksandheading h1{
    font-style: italic;
font-family: 'Roboto Slab', serif;
font-size: 1.7rem;
color:  white;
}
.quicl-linksandheading  hr{
    border-color: chocolate;
}
.quick-links{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 1rem;
    padding: 0.5rem;
}
.quick-links a{
    text-decoration: none;
    color: white;
     font-family: 'Raleway', sans-serif;
     padding: 0.5rem;
}
.quick-links a:hover{
    text-decoration: underline;
}
.quick-links a:focus{
    border: 2px solid white;
}
.social-links-and-image h1{
     font-style: italic;
font-family: 'Roboto Slab', serif;
font-size: 1.7rem;
color:  white;
}
.social-links-and-image hr{
    border-color: chocolate;
}
.social-links{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 0.3rem;
padding: 0.5rem;
}
.social-links a{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    color: white;
    text-decoration: none;
}
.social-links a:hover{
    color: chocolate;
    border: 2px solid chocolate;
}
.social-links a:focus{
    color: chocolate;
    border: 2px solid chocolate;
}
.newsleter-container h1{
    font-style: italic;
font-family: 'Roboto Slab', serif;
font-size: 1.7rem;
color:  white;
}
.newsleter-container hr{
    border-color: chocolate;
}
.newsleter-container p{
      color: white;
     font-family: 'Raleway', sans-serif;
}
.input{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.5rem;
}
.input input{
    width: 80%;
    height: 2.07rem;
    background-color: transparent;
    color: chocolate;
    border: 2px solid chocolate;
    border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
     border-right-color: transparent;
}
.input input:hover{
    box-shadow: 0 1px 2px 3px chocolate;
}
.input input:focus{
    box-shadow: 0 1px 2px 3px chocolate;
}
.input button{
    width: 10%;
    background-color: chocolate;
    border-color: chocolate;
    color: white;
    height: 2.5rem;
    border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
     border-left-color: transparent;
}
.input button:hover{
    background-color: transparent;
    color: chocolate;
}
.copyright{
    width: 100%;
    color: black;
     font-family: 'Raleway', sans-serif;
     font-size: 1rem;
     text-align: center;
     background-color: lightblue;
     padding: 0.7rem;
     border-top: 2px solid chocolate;

}



@media (min-width:768px) {
    .azurelinksandbutton button{
        display: none;
    }
    .azure-links{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding-right: 1rem;
    }
    .azure-links a:hover{
        text-decoration: underline;
    }
    .azure-links a:focus{
        text-decoration: underline;
    }
     .rooms{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .room{
        width: 32%;
        margin-bottom: 0;
        bottom: 0;
    }
    .imageof-room{
        width: 100%;
        height: 20rem;
    }
     .imageof-room img{
        width: 100%;
     }
     .room-description{
        margin-top: none;
        top: 0;
        padding: none;
     }
     .lasttext{
        height: 25rem;
     }
      .footer-context{
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       gap: 1rem;
       width: 100%;
       height: 15rem;
     }
     .logo-footer{
        height: 100%;
     }
}