header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    top: 0;
    margin-top: 0;
    position: fixed;
    z-index: 5;
    background-color: #0B3C5D ;
    left: 0;
    max-width: 100vw;
}

.azurelogo-and-name-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.azure-logo{
    width: 5rem;
    height: 5rem;
    overflow: hidden;
} 
.azure-logo img{
    width: 100%;
    height: 100%;
    transition: all 2s ease-in-out;
}
.azure-logo img:hover{
    transform: scale(1.5);
}

.azure-name{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 0.2rem;

}
.azure-name h1{
    height: 0.7rem;
    font-size: 1rem;
    top: 0;
    color: white;
    font-family: "Playfair Display", serif;
}
.azure-name h2{
     height: 1rem;
    font-size: 1.6rem;
    top: 0;
    color: white;
    font-family: "Playfair Display", serif;
    letter-spacing: 0.7rem;
}
.azurelinksandbutton button{
    background-color: transparent;
    border-color: transparent;
    color: white;
   margin-right: 2rem;
}
.azure-links{
    display: none;
    text-decoration: none;
}
.azure-links a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0.3rem;
}
.azure-links a:hover{
    background-color: #0b3c5d88 ;
}
.azure-links a:focus{
    background-color: #0b3c5d88 ;
}
.azure-links.show{
 flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 10;
    display: flex;
    width: 50%;
    left: 0;
    height: auto;
    gap: 0.7rem;
    /*background-color: rgb(195, 235, 231);*/
    position: absolute;
    top: 0;
    margin-top: 5.005rem;
    border: 2px solid  #0B3C5D ;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('azure pictures/link image.webp');
}
.hero-section{
    height: 50vh;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
  width: 100%;
  max-width: 100vw;
  margin-top: 5rem;
  overflow: hidden;
  position: relative;
  left: 0;
  right: 0;
}
.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #0b3c5d27;
  z-index: 1;
}

.hero-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    z-index: 2;
    text-align: center;
    height: 100%;
    position: relative;
}
.hero-content h1{
    font-size: 2rem;
    color: white;
    /*font-family: "Playfair Display", serif;*/
    font-style: italic;
font-family: 'Roboto Slab', serif;
}
.hero-content p{
    /* font-family: "Playfair Display", serif;*/
    font-style: italic;
font-family: 'Roboto Slab', serif;
     color: white;
     font-size: 1rem;
}
.hero-links-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
}
.hero-content a{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    text-decoration: none;
    width: 7rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
     font-family: "Playfair Display", serif;
}
.hero-content a:hover{
    background-color: #0B3C5D;

}
.welcoming{
   display: block;
    width: 100%;
    height: auto;
    margin-top: 1rem;
    background-color: rgba(173, 216, 230, 0.098);
    padding-bottom: 2rem;
    padding-left: 0.2rem;
}
.welcoming video{
    width: 100%;
    height: 20rem;
    max-width: 100vw;
    top: 0;
}
.welcoming-content{
    display: block;
}
.welcoming-content h1{
   /*font-family: 'Raleway', sans-serif;*/
font-style: italic;
font-family: 'Roboto Slab', serif;
font-size: 1.7rem;
color:  #0B3C5D;
}
.welcoming-content h2{
color:  #0B3C5D;
 font-family: 'Raleway', sans-serif;
 font-size: 1.2rem;

}
.welcoming-content hr{
    border-color: chocolate;
}
.welcoming-content p{
    font-family: 'Raleway', sans-serif;
}
.welcoming-content a{
    background-color: white;
    color: #0B3C5D;
    border: 1.5px solid #0B3C5D;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    padding: 0.5rem;
    transition: all 0.8s ease-in-out;
}
.welcoming-content a:hover{
    background-color: #0B3C5D;
    color: white;
}
::selection{
    background-color: #0B3C5D;
    color: white;
}
.rooms-container{
    display: block;
    width: 100%;
    margin-top: 4rem;
}
.roomhead{
    display: block;
}
.roomhead h1{
    font-style: italic;
font-family: 'Roboto Slab', serif;
font-size: 1.7rem;
color:  #0B3C5D;
}
.roomhead h2{
    color:  #0B3C5D;
 font-family: 'Raleway', sans-serif;
 font-size: 1.1rem;
}
.roomhead hr{
   border-color: chocolate;
}
.rooms{
    display: block;
    width: 100%;
    height: auto;
}
.room{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}
.imageof-room{
    width: 100%;
    height: 20rem;
    position: relative;
}
.imageof-room img{
    width: 100%;
}
.room-description{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    padding-top: 4rem;
     background-color: rgba(173, 216, 230, 0.098);
     padding-bottom: 2rem;
}
.description {
    display: block;  
}
.description h2{
    color:  #0B3C5D;
 font-family: 'Raleway', sans-serif;
 font-size: 1.1rem;
}
.description  p{
    font-family: 'Raleway', sans-serif;
}
.description-links{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-top: 0.1rem;
}
.description-links a{
     background-color: white;
    color: #0B3C5D;
    border: 1.5px solid #0B3C5D;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    padding: 0.5rem;
    transition: all 0.8s ease-in-out;
}
.description-links a:hover{
    background-color: #0B3C5D;
    color: white;
}
.perfectstay{
    width: 100%;
    height: auto;
    margin-top: 4rem;
}
.stayhead{
    width: 100%;
    height: auto;
}
.stayhead h1{
    font-style: italic;
font-family: 'Roboto Slab', serif;
font-size: 1.7rem;
color:  #0B3C5D;
}
.stayhead h2{
    color:  #0B3C5D;
 font-family: 'Raleway', sans-serif;
 font-size: 1.1rem;
}
.stayhead hr{
    width: 100%;
    border-color: chocolate;
}
.scroll-container{
    width: 100%;
    overflow: hidden;
}
.sliders{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transform:  0.8s ease;
    gap: 1rem;
}
.slider1{
    width: 40%;
    background-image: url("azure pictures\azureimage1.webp");
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 8rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider1 h1{
    color:  #0B3C5D;
 font-family: 'Raleway', sans-serif;
 font-size: 1.1rem;
 top: 0;
 margin-top: 0;
 margin-bottom: 3rem;
 float: left;
}
.slider1 p{
font-family: 'Raleway', sans-serif;
font-size: 0.9rem;
z-index: 2;
opacity: 0;
position: absolute;
width: 100%;
height: 100%;
padding-top: 60%;
text-align: center;
}
.slider1 p:hover{
    opacity: 1.0;

}
.slider2{
    width: 40%;
    background-image: url("azure pictures\azure image2.webp");
    flex-shrink: 0;
     background-repeat: no-repeat;
    background-size: cover;
    height: 8rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider2 h1{
    color:  #0B3C5D;
 font-family: 'Raleway', sans-serif;
 font-size: 1.1rem;
 top: 0;
 margin-top: 0;
 margin-bottom: 3rem;
}
.slider2 p{
font-family: 'Raleway', sans-serif;
font-size: 0.9rem;
z-index: 2;
opacity: 0;
position: absolute;
width: 100%;
height: 100%;
padding-top: 60%;
text-align: center;
}
.slider2 p:hover{
    opacity: 1.0;
}
.slider3{
    width: 40%;
    background-image: url("azure pictures\azure image3.webp");
    flex-shrink: 0;
     background-repeat: no-repeat;
    background-size: cover;
    height: 8rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider3 h1{
    color:  #0B3C5D;
 font-family: 'Raleway', sans-serif;
 font-size: 1.1rem;
 top: 0;
 margin-top: 0;
 margin-bottom: 3rem;
}
.slider3 p{
font-family: 'Raleway', sans-serif;
font-size: 0.9rem;
z-index: 2;
opacity: 0;
position: absolute;
width: 100%;
height: 100%;
padding-top: 60%;
text-align: center;
}
.slider3 p:hover{
    opacity: 1.0;
}
.slider4{
    width: 40%;
    background-image: url("azure pictures\azure image4.webp");
    flex-shrink: 0;
     background-repeat: no-repeat;
    background-size: cover;
    height: 8rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider4 h1{
    color:  #0B3C5D;
 font-family: 'Raleway', sans-serif;
 font-size: 1.1rem;
 top: 0;
 margin-top: 0;
 margin-bottom: 3rem;
}
.slider4 p{
font-family: 'Raleway', sans-serif;
font-size: 0.9rem;
z-index: 2;
opacity: 0;
position: absolute;
width: 100%;
height: 100%;
padding-top: 60%;
text-align: center;
}
.slider4 p:hover{
    opacity: 1.0;
}
.slider5{
    width: 40%;
    background-image: url("azure pictures\azure image6.webp");
    flex-shrink: 0;
     background-repeat: no-repeat;
    background-size: cover;
    height: 8rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider5 h1{
    color:  #0B3C5D;
 font-family: 'Raleway', sans-serif;
 font-size: 1.1rem;
 top: 0;
 margin-top: 0;
 margin-bottom: 3rem;
}
.slider5 p{
font-family: 'Raleway', sans-serif;
font-size: 0.9rem;
z-index: 2;
opacity: 0;
position: absolute;
width: 100%;
height: 100%;
padding-top: 60%;
text-align: center;
}
.slider5 p:hover{
    opacity: 1.0;
}
.slider6{
    width: 40%;
    background-image: url("azure pictures\azure image7.webp");
    flex-shrink: 0;
     background-repeat: no-repeat;
    background-size: cover;
    height: 8rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider6 h1{
    color:  #0B3C5D;
 font-family: 'Raleway', sans-serif;
 font-size: 1.1rem;
 top: 0;
 margin-top: 0;
 margin-bottom: 3rem;
}
.slider6 p{
font-family: 'Raleway', sans-serif;
font-size: 0.9rem;
z-index: 2;
opacity: 0;
position: absolute;
width: 100%;
height: 100%;
padding-top: 60%;
text-align: center;
}
.slider6 p:hover{
    opacity: 1.0;
}
.slider7{
    width: 40%;
    background-image: url("azure pictures\azure image8.jfif");
    flex-shrink: 0;
     background-repeat: no-repeat;
    background-size: cover;
    height: 8rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider7 h1{
    color:  #0B3C5D;
 font-family: 'Raleway', sans-serif;
 font-size: 1.1rem;
 top: 0;
 margin-top: 0;
 margin-bottom: 3rem;
}
.slider7 p{
font-family: 'Raleway', sans-serif;
font-size: 0.9rem;
z-index: 2;
opacity: 0;
position: absolute;
width: 100%;
height: 100%;
padding-top: 60%;
text-align: center;
}
.slider7 p:hover{
    opacity: 1.0;
}
.slider8{
    width: 40%;
    background-image: url("azure pictures\azure image9.jpg");
    flex-shrink: 0;
     background-repeat: no-repeat;
    background-size: cover;
    height: 8rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider8 h1{
    color:  #0B3C5D;
 font-family: 'Raleway', sans-serif;
 font-size: 1.1rem;
 top: 0;
 margin-top: 0;
 margin-bottom: 3rem;
}
.slider8 p{
font-family: 'Raleway', sans-serif;
font-size: 0.9rem;
z-index: 2;
opacity: 0;
position: absolute;
width: 100%;
height: 100%;
padding-top: 60%;
text-align: center;
}
.slider8 p:hover{
    opacity: 1.0;
}
.slider9{
    width: 40%;
    background-image: url("azure pictures\azure image11.webp");
    flex-shrink: 0;
     background-repeat: no-repeat;
    background-size: cover;
    height: 8rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider9 h1{
    color:  #0B3C5D;
 font-family: 'Raleway', sans-serif;
 font-size: 1.1rem;
 top: 0;
 margin-top: 0;
 margin-bottom: 3rem;
}
.slider9 p{
font-family: 'Raleway', sans-serif;
font-size: 0.9rem;
z-index: 2;
opacity: 0;
position: absolute;
width: 100%;
height: 100%;
padding-top: 60%;
text-align: center;
}
.slider9 p:hover{
    opacity: 1.0;
}
.perfect-explantion{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}
.perfect-explantion p{
font-family: 'Raleway', sans-serif;
font-size: 0.9rem;
 color:  #0B3C5D;text-align: center;
}
.perfect-explantion a{
    background-color: white;
    color: #0B3C5D;
    border: 1.5px solid #0B3C5D;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    padding: 0.5rem;
    transition: all 0.8s ease-in-out;
}
.perfect-explantion a:hover{
    background-color: #0B3C5D;
    color: white;
}

@media (min-width:768px) {
    .azurelinksandbutton button{
        display: none;
    }
    .azure-links{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding-right: 1rem;
    }
    .azure-links a:hover{
        text-decoration: underline;
    }
    .azure-links a:focus{
        text-decoration: underline;
    }
    .welcoming{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 2rem;
    }
    .rooms{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .room{
        width: 32%;
        margin-bottom: 0;
        bottom: 0;
    }
    .imageof-room{
        width: 100%;
        height: 20rem;
    }
     .imageof-room img{
        width: 100%;
     }
     .room-description{
        margin-top: none;
        top: 0;
        padding: none;
     }
}